<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" class="html_bookstore">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='Img/favicon-32x32.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='Scss/style.css') }}">
    <title>{{ information.name }}</title>

</head>

<body class="body_bookstore">
    <header class="header sticky_pos">
        <div class="header_container">
            <div class="overlay_set has-fade" id="overlay">
            </div>
            <nav class="flexHeader flexHeader-jc-sb container">
                <a class="header_logo center_for_mobile" href="/">
                    <img src="{{ url_for('static', filename='Img/logo.svg') }}" alt="home">
                    <h1 class="hide_for_mobile">University of Eswatini</h1>
                </a>
                <a href="#" class="header_toggle hide_for_desktop" id="btnHamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <div class="header_link hide_for_mobile">
                    <a href="/">Home</a><a href="/about">About</a><a href="/contact">Contact</a>
                </div>
            </nav>
            <div class="header_menu has-fade ">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
        <hr class="hide_for_mobile">
    </header>
    <div class="book_title">
      <h1>{{ information.name }}</h1>
  </div>
  <div class="side_container">
    {% if information.type == 'notebook' %}
      <div class="button_container">
        <h1>Go back to {{ subject }}</h1>
        <a href="javascript:history.back()">
          <div class="button_container_button">
            <h1>{{ subject }}</h1>
          </div>
        </a>
      </div>
      <div class="button_container_left">
        <h1>DOWNLOAD</h1>
        <a href="{{ url_for('static', filename= information.file) }}" target="_blank">
          <div class="button_container_button" >
              <h1>DOWNLOAD</h1>
          </div>
        </a>
      </div>
      <div class="button_container_right">
        <h1>HTML</h1>
        <a href="https://nbviewer.org/urls/mint-ed.me/static/{{information.file}}" target="_blank">
          <div class="button_container_button">
            <h1>HTML</h1>
          </div>
        </a>
      </div>
    {% endif %}
    {% if information.type == 'book' %}
      <div class="button_container">
        <h1>Go back to {{ subject }}</h1>
        <a href="javascript:history.back()">
          <div class="button_container_button">
            <h1>{{ subject }}</h1>
          </div>
        </a>
      </div>
      <div class="button_container_left">
        <h1>DOWNLOAD</h1>
        <a href="{{ url_for('static', filename= information.zip) }}" target="_blank">
          <div class="button_container_button" >
              <h1>DOWNLOAD</h1>
          </div>
        </a>
      </div>
      <div class="button_container_right">
        <h1>HTML</h1>
        <a href="{{ url_for('static', filename= information.file) }}" target="_blank">
          <div class="button_container_button">
            <h1>HTML</h1>
          </div>
        </a>
      </div>
    {% endif %}
  </div>
  <div class="information_container">
    <h3>INFORMATION</h3>
    <p>Author: {{ information.author }} <br>
       Class: {{ information.class }}</p>
  </div>
  <div class="description_container">
    <div class="description_container_text">
      <h3>DESCRIPTION</h3>
      <p>{{ information.descript }}</p>
    </div>
    <div class="description_container_image">
      {% if information.image == '' %}
        <img src="{{ url_for('static', filename='Img/logo.svg') }}" alt="logo">
      {% else %}
        <img src="{{ url_for('static', filename= information.image) }}" alt="logo">
      {% endif %} 
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>

</body>

<footer>
    <h3>&#169; University Of Alberta - Augustana Campus</h3>
</footer>

</html>