<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" class="html_bookstore">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='Img/favicon-32x32.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='Scss/style.css') }}">
    <title>{{ information.name }}</title>

</head>

<body class="body_bookstore">
    <header class="header sticky_pos">
        <div class="header_container">
            <div class="overlay_set has-fade" id="overlay">
            </div>
            <nav class="flexHeader flexHeader-jc-sb container">
                <a class="header_logo center_for_mobile" href="/">
                    <img src="{{ url_for('static', filename='Img/logo.svg') }}" alt="home">
                    <h1 class="hide_for_mobile">University of Eswatini</h1>
                </a>
                <a href="#" class="header_toggle hide_for_desktop" id="btnHamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <div class="header_link hide_for_mobile">
                    <a href="/">Home</a><a href="/about">About</a><a href="/contact">Contact</a>
                </div>
            </nav>
            <div class="header_menu has-fade ">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
        <hr class="hide_for_mobile">
    </header>

    {% if information.type == 'notebook' %}

      <div class="grid_container">

        <div class="grid_go_back">
          <h3>Return to {{ subject }}</h3>
            <a href="javascript:history.back()">
              <div class="button_container_button">
                <h4>{{ subject }}</h4>
              </div>
            </a>
        </div>

        <div class="grid_title">
          {% if information.name == '' %}
            <h1>Untitled</h1>
          {% else %}
            <h1>{{ information.name }}</h1>
          {% endif %}
        </div>

        <div class="grid_view_book">
          <h3>View Book</h3>
          {% if information.html == '' %}
            {% if information.file == '' %}

              <div class="button_container_button_empty" >
                <h4>Not Available</h4>
              </div>

            {% else %}

              <a href="https://nbviewer.org/urls/mint-ed.me/static/{{information.file}}" target="_blank">
                <div class="button_container_button" >
                    <h4>View</h4>
                </div>
              </a>

            {% endif %}

          {% else %}

            <a href="{{ url_for('static', filename= information.html) }}" target="_blank">
              <div class="button_container_button" >
                  <h4>View</h4>
              </div>
            </a>

          {% endif %}

        </div>  
        
        <div class="grid_info">
          <h3>Information</h3>
          <div class="grid_info_text">
            {% if information.class == '' %}
              {% if information.author == '' %}
                <p>
                  Class: No Class Given <br><br>
                  Author: No Author Given
                </p>
              {% else %}
                <p>
                  Class: No Class Given <br><br>
                  Author: {{ information.author }}
                </p>
              {% endif %}
            {% else %}
              {%if information.author == '' %}
                <p>
                  Class: {{ information.class }} <br><br>
                  Author: No Author Given
                </p>
              {% else %}
                <p>
                  Class: {{ information.class }} <br><br>
                  Author: {{ information.author }}
                </p>
              {% endif %}
            {% endif %}
          </div>
        </div>

        <div class="grid_download_notebook">
          <h3>Download Notebook</h3>

          {% if information.file == '' %}

            <div class="button_container_button_empty" >
                <h4>Not Available</h4>
            </div>

          {% else %}

            <a href="{{ url_for('static', filename= information.file) }}" target="_blank" download>
              <div class="button_container_button" >
                  <h4>Download</h4>
              </div>
            </a>
          
          {% endif %}

        </div>  

        <div class="grid_description">
          <h3>Description</h3>
          {% if information.descript == '' %}
            <div class="description_container_text">
              <p>No Description Given.</p>
            </div>
          {% else %}
            <div class="description_container_text">
              <p>{{ information.descript }}</p>
            </div>
          {% endif %}
        </div>

        <div class="grid_download_pdf">
          <h3>Download PDF</h3>

          {% if information.pdf == '' %}

            <div class="button_container_button_empty" >
                <h4>Not Available</h4>
            </div>

          {% else %}

            <a href="{{ url_for('static', filename= information.pdf) }}" target="_blank" download>
              <div class="button_container_button" >
                  <h4>Download</h4>
              </div>
            </a>

          {% endif %}

        </div>

        <div class="grid_download_html">
          <h3>Download HTML</h3>

          {% if information.pdf == '' %}
          
            <div class="button_container_button_empty" >
                <h4>Not Available</h4>
            </div>

          {% else %}

            <a href="{{ url_for('static', filename= information.html) }}" target="_blank" download>
              <div class="button_container_button" >
                  <h4>Download</h4>
              </div>
            </a>

          {% endif %}
          
        </div>  
      </div>
    {% endif %}

    {% if information.type == 'book' %}

      <div class="grid_container">

        <div class="grid_go_back">
          <h3>Return to {{ subject }}</h3>
            <a href="javascript:history.back()">
              <div class="button_container_button">
                <h4>{{ subject }}</h4>
              </div>
            </a>
        </div>

        <div class="grid_title">
          {% if information.name == '' %}
            <h1>Untitled</h1>
          {% else %}
            <h1>{{ information.name }}</h1>
          {% endif %}
        </div>

        <div class="grid_view_book">
          <h3>View Book</h3>
          {% if information.file == '' %}
            <div class="button_container_button_empty" >
              <h4>Not Available</h4>
            </div>
          {% else %}
            <a href="{{ url_for('static', filename= information.file) }}" target="_blank">
              <div class="button_container_button" >
                  <h4>View</h4>
              </div>
            </a>
          {% endif %}
        </div>  
        
        <div class="grid_info">
          <h3>Information</h3>
          <div class="grid_info_text">
            {% if information.class == '' %}
              {% if information.author == '' %}
                <p>
                  Class: No Class Given <br><br>
                  Author: No Author Given
                </p>
              {% else %}
                <p>
                  Class: No Class Given <br><br>
                  Author: {{ information.author }}
                </p>
              {% endif %}
            {% else %}
              {%if information.author == '' %}
                <p>
                  Class: {{ information.class }} <br><br>
                  Author: No Author Given
                </p>
              {% else %}
                <p>
                  Class: {{ information.class }} <br><br>
                  Author: {{ information.author }}
                </p>
              {% endif %}
            {% endif %}
          </div>
        </div>

        <div class="grid_download_notebook">
          <h3>Download Book</h3>

          {% if information.zip == '' %}
          
            <div class="button_container_button_empty" >
                <h4>Not Available</h4>
            </div>

          {% else %}

            <a href="{{ url_for('static', filename= information.zip) }}" target="_blank">
              <div class="button_container_button" >
                  <h4>Download</h4>
              </div>
            </a>
          
          {% endif %}

        </div>  

        <div class="grid_description">
          <h3>Description</h3>
          {% if information.descript == '' %}
            <div class="description_container_text">
              <p>No Description Given.</p>
            </div>
          {% else %}
            <div class="description_container_text">
              <p>{{ information.descript }}</p>
            </div>
          {% endif %}
        </div>

        <div class="grid_download_pdf">
          <h3>Download PDF</h3>

          {% if information.pdf == '' %}
          
            <div class="button_container_button_empty" >
                <h4>Not Available</h4>
            </div>

          {% else %}

            <a href="{{ url_for('static', filename= information.pdf) }}" target="_blank" download>
              <div class="button_container_button" >
                  <h4>Download</h4>
              </div>
            </a>

          {% endif %}
        </div>

        <div class="grid_download_html">
          <h3>Download HTML</h3>

          {% if information.pdf == '' %}
          
            <div class="button_container_button_empty" >
                <h4>Not Available</h4>
            </div>

          {% else %}
          
            <a href="{{ url_for('static', filename= information.html) }}" target="_blank" download>
              <div class="button_container_button" >
                  <h4>Download</h4>
              </div>
            </a>
          {% endif %}
            
        </div>  
      </div>

    {% endif %}
  
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>

</body>

<footer>
    <h3>&#169; University of Alberta - Augustana Campus</h3>
</footer>

</html>