<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" class="html_bookstore">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='Img/favicon-32x32.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='Scss/style.css') }}">
    <title>{{ subject }} Textbooks</title>

</head>

<body class="body_bookstore">
    <header class="header sticky_pos">
        <div class="header_container">
            <div class="overlay_set has-fade" id="overlay">
            </div>
            <nav class="flexHeader flexHeader-jc-sb container">
                <a class="header_logo center_for_mobile" href="/">
                    <img src="{{ url_for('static', filename='Img/logo.svg') }}" alt="home">
                    <h1 class="hide_for_mobile">University of Eswatini</h1>
                </a>
                <a href="#" class="header_toggle hide_for_desktop" id="btnHamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <div class="header_link hide_for_mobile">
                    <a href="/">Home</a><a href="/about">About</a><a href="/contact">Contact</a>
                </div>
            </nav>
            <div class="header_menu has-fade ">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
        <hr class="hide_for_mobile">
    </header>
    <div class="book_title">
        <h1>{{ subject }}<br>
            Textbooks & Lecture Notes</h1>
    </div>
    <div class="book_container">
        <form action="" class="search-form" id="search-id" onkeyup="search()">
            <input type="search" name="query" placeholder="Search here..." id="search-box">
        </form>
    </div>
    <div class="book_cards">
        {% for i in range(0, len) %}
            <div class="book_card" id="{{ i }}">    
                {% if information[i].type == 'book' %} <!--Links for books and notebooks are different so a distinction is needed-->
                    {% if information[i].image == '' %} <!--If there is no image applies the eswatini logo as the image-->
                        <div class="dropdown" style="float:right">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <h4>Download</h4>

                                {% if information[i].zip == '' %}
                                    <a style="pointer-events: none;"><s>.zip</s></a>
                                {% else %}
                                    <a href="{{ url_for('static', filename= information[i].zip) }}" target="_blank" download>.zip</a>
                                {% endif %}

                                {% if information[i].pdf == '' %}
                                    <a style="pointer-events: none;"><s>PDF</s></a>
                                {% else %}
                                    <a href="{{ url_for('static', filename= information[i].pdf) }}" target="_blank" download>PDF</a>
                                {% endif %}
                                
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ url_for('static', filename='Img/logo.svg') }}" alt="logo">
                        </div>
                        {% if information[i].name == '' %}
                            <div class="text_container" id="{{ shortcut }}">
                                <h1>Untitled</h1>
                            </div>
                        {% else %}
                            <div class="text_container" id="{{ shortcut }}">
                                <h1> {{ information[i].name }} </h1>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="dropdown" style="float:right">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <h4>Download</h4>

                                {% if information[i].zip == '' %}
                                    <a style="pointer-events: none;"><s>.zip</s></a>
                                {% else %}
                                    <a href="{{ url_for('static', filename= information[i].zip) }}" target="_blank" download>.zip</a>
                                {% endif %}

                                {% if information[i].pdf == '' %}
                                    <a style="pointer-events: none;"><s>PDF</s></a>
                                {% else %}
                                    <a href="{{ url_for('static', filename= information[i].pdf) }}" target="_blank" download>PDF</a>
                                {% endif %}
                                                         
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ url_for('static', filename= information[i].image) }}" alt="logo">
                        </div>
                        {% if information[i].name == '' %}
                            <div class="text_container" id="{{ shortcut }}">
                                <h1>Untitled</h1>
                            </div>
                        {% else %}
                            <div class="text_container" id="{{ shortcut }}">
                                <h1> {{ information[i].name }} </h1>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if information[i].type == 'notebook' %}
                    {% if information[i].image == '' %}
                        <div class="dropdown" style="float:right">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <h4>Download</h4>

                                {% if information[i].file == '' %}
                                    <p><s>.ipynb</s></p>
                                {% else %}
                                    <a href="{{ url_for('static', filename= information[i].file) }}" target="_blank" download>.ipynb</a>
                                {% endif %}

                                {% if information[i].html == '' %}
                                    <p><s>HTML</s></p>
                                {% else %}
                                    <a href="{{ url_for('static', filename= information[i].html) }}" target="_blank" download>HTML</a>
                                {% endif %}

                                {% if information[i].pdf == '' %}
                                    <p><s>PDF</s></p>
                                {% else %}
                                    <a href="{{ url_for('static', filename= information[i].pdf) }}" target="_blank" download>PDF</a>
                                {% endif %}
                                
                                
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ url_for('static', filename='Img/logo.svg') }}" alt="logo">
                        </div>
                        {% if information[i].name == '' %}
                            <div class="text_container" id="{{ shortcut }}">
                                <h1>Untitled</h1>
                            </div>
                        {% else %}
                            <div class="text_container" id="{{ shortcut }}">
                                <h1> {{ information[i].name }} </h1>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="dropdown" style="float:right">
                            <button class="dropbtn"></button>
                            <div class="dropdown-content">
                                <h4>Download</h4>

                                {% if information[i].file == '' %}
                                    <p><s>.ipynb</s></p>
                                {% else %}
                                    <a href="{{ url_for('static', filename= information[i].file) }}" target="_blank" download>.ipynb</a>
                                {% endif %}

                                {% if information[i].html == '' %}
                                    <p><s>HTML</s></p>
                                {% else %}
                                    <a href="{{ url_for('static', filename= information[i].html) }}" target="_blank" download>HTML</a>
                                {% endif %}

                                {% if information[i].pdf == '' %}
                                    <p><s>PDF</s></p>
                                {% else %}
                                    <a href="{{ url_for('static', filename= information[i].pdf) }}" target="_blank" download>PDF</a>
                                {% endif %}
                                
                                
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ url_for('static', filename= information[i].image) }}" alt="logo">
                        </div>
                        {% if information[i].name == '' %}
                            <div class="text_container" id="{{ shortcut }}">
                                <h1>Untitled</h1>
                            </div>
                        {% else %}
                            <div class="text_container" id="{{ shortcut }}">
                                <h1> {{ information[i].name }} </h1>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script>

        const information = document.querySelectorAll(".text_container")

        information.forEach(function (infoButton, index) {
            infoButton.addEventListener("click", function () {
                let subject = infoButton.id
                let book = index
                let link = "/book/" + subject + "/" + book
                window.open(link, "_self")
            });
        });

    </script>
    <script>

        const dropDownButtons = document.querySelectorAll(".dropbtn");
        const dropDownContent = document.querySelectorAll(".dropdown-content");

        function handleDropdownClick(event) {

            const main = event.target;
            const className = "show";
            let myContent = null;

            dropDownContent.forEach( elem => {

                if(main.parentNode.contains(elem)) {

                    myContent = elem;

                }
                else{

                    elem.classList.remove(className)

                }
            });

            if (myContent) myContent.classList.toggle(className);

        }

        dropDownButtons.forEach(elem => elem.addEventListener("click", handleDropdownClick));

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    </script>

</body>

<footer>
    <h3>&#169; University of Alberta - Augustana Campus</h3>
</footer>

</html>
